@charset "UTF-8";



div.circulo-cores{
        text-align: center;
}

body{
    background-color: rgb(240, 218, 255);
}

div.coresfrias{
    background-color:rgb(169, 229, 255); 
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 22%;
    width: 60%;
    height: 0%;
    padding-top: 2px;
    padding-bottom:  2px;
    text-align: center;
    border-radius: 2%;
}

div.coresquentes {
    background-color:rgb(255, 180, 180); 
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 22%;
    width: 60%;
    height: 0%;
    padding-top: 2px;
    padding-bottom:  2px;
    text-align: center;
    border-radius: 2%;
            }

ul {
    list-style-type: square;
}

ul li span {
    color: black;
}

ul li.color1F {
    color: darkViolet;
}

ul li.color2F {
    color: #7070d9 ;
}
ul li.color3F {
    color: blue;
}

ul li.color4F {
    color:  #1b683d;

}ul li.color5F {
    color: green;
}

ul li.color6F {
    color: greenyellow;
}






ul li.color1Q {
    color: yellow;
}

ul li.color2Q {
    color: #ffcc00;
}
ul li.color3Q {
    color: #ff8000;
}

ul li.color4Q {
    color:  #ff3700;

}ul li.color5Q {
    color: #ff0000;
}

ul li.color6Q {
    color: #741a74;
}


article {
    background-color:rgb(235, 255, 235); 
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 10%;
    width: 80%;
    height: 0%;
    padding-top: 2px;
    padding-bottom:  2px;
    padding-left: 2%;
    
    border-radius: 2%;
}


div.cores-complementares{
    background-color: #e2ffc1;
}

div.cores-analogas{
    background-color: #d7c7ff;
}

div.cores-analogas-complementar{
    background-color: #ffdbc3;
}

div.cores-analogas-relacionadas {
    background-color: #c6e3ff;
}

div.cores-intercaladas{
    background-color: #ffffc5;
}

div.cores-triadicas{
    background-color: #ffcaca;
}

div.cores-quadrado{
    background-color: #edbcff;
}

div.cores-tetradicas{
    background-color: #c5ffd0;
}

div.monocromia{
    background-color: #ffdbb4;
}

footer{
    background-color:rgb(8, 8, 8); 
    color: #e7e7e7;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 0%;
    width: 30%;
    height: 0%;
    padding-top: 2px;
    padding-bottom:  2px;
    padding-left: 2%;
    border-radius: 2%;
}
