section iframe {width: 700px;
    height: 700px;
    border-radius: 10px;
}

mark {
    background-color: rgba(29, 231, 197, 0.555);
}

body {
    background-color: rgba(26, 29, 224, 0.637);
    display: flex;
    justify-content: center;
}

section {
    width: 700px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    margin-top: 125px;
    text-align: center;
    border-radius: 10px;

}
